html, body {
  height: 100%;
}

.panel-group {
  margin-bottom: 5px;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.date-time-field {
	width: 120px !important;
}

.modelling-settings__spread-stages-controls {
	padding: 10px;
}

.modelling-settings__loading-bar-container {
	padding: 10px;
	text-align: center;
}

.modelling-settings__loading-bar-container .progress {
	width: 50%;
    position: relative;
    left: 25%;
}

.modelling-settings__calculate-instructions {
	text-align: justify;
	padding-bottom: 10px;
}

.import-search-operation__message {
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}

.missing-people__container {
	padding-bottom: 5px;
}

.missing-people__container p {
	margin: 0px;
	padding: 3px;
}

.rs-enter-special-markup-modal__form-container {
	padding-top: 10px;
}

.rs-toggle-display-link {
    border-bottom: dashed 1px;
    text-decoration: none;
	cursor: pointer;
}

.rs-toggle-display-link:hover {
    border-bottom: dashed 1px;
    text-decoration: none;
	cursor: pointer;
}

.padding-top-10 {
  padding-top: 10px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.versions-panel__areas_edited {
	background-color: #80bfff;
}

.feature-display-preview__container {
	width: 100%;
	height: 80px;
	background-color: black;
	background-image: url("images/style-preview.png");
	position: relative;
}

.feature-display-preview__line {
    position: absolute;
    top: 40px;
    height: 4px;
    background-color: blue;
    width: 100%;
    z-index: 1000;
}

.feature-display-preview__upper-line {
    position: absolute;
    top: 26px;
    height: 4px;
    background-color: blue;
    width: 100%;
    z-index: 1000;
}

.feature-display-preview__lower-line {
    position: absolute;
    top: 52px;
    height: 4px;
    background-color: blue;
    width: 100%;
    z-index: 1000;
}

.feature-display-preview__border {
    position: absolute;
    top: 26px;
    height: 30px;
    background-color: white;
    width: 100%;
    z-index: 999;
    opacity: 0.5;
}


.workspace-expander {
	width: 12px;
	color: white;
    height: 190px;
    position: absolute;
    top: 40%;
	padding-top: 95px;
	z-index: 1000;
}


.workspace-expander__fold-all {
	width: 12px;
	height: 110px;
	border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
	background-color: #337ab7;
}


.workspace-expander__fold-all div {
	position: relative;
    top: 45px;
}


.workspace-expander__fold-left {
	width: 12px;
	height: 40px;
	border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
	background-color: #337ab7;
}


.workspace-expander__fold-right {
	width: 12px;
	height: 40px;
	border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
	background-color: #337ab7;
}


.workspace-expander__fold-left div, .workspace-expander__fold-right div {
	position: relative;
    top: 10px;
}


.workspace-expander__fold-all:hover, .workspace-expander__fold-left:hover, .workspace-expander__fold-right:hover {
	background-color: #B0ACB3;
	cursor: pointer;
}

.workspace-expander__fold-left_inactive, .workspace-expander__fold-right_inactive {
	background-color: #B0ACB3;
	cursor: default;
}


.hidden {
	display: none;
}

.required {
  color: red;
}

.routes__route_active, .special-markup-tab__special-markup_active, .versions-tab__version_active {
	background-color: #FFB682 !important;
}

.location-picker {
  width: 180px;
  position: inline;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.search-operations__loading {
  padding: 50px 200px 0px 200px;
  text-align: center;
}

.map-container {
  height: 100%;
  padding-top: 50px;
}

.full-height {
  height: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

.routes__route-container {
    margin: 10px 0px 10px 0px;
    padding: 5px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.width-70 {
  width: 70px;
}

.width-140 {
  width: 140px !important;
}

.width-100 {
  width: 100px !important;
}

.width-180 {
  width: 180px;
}

.padding-top-10 {
  padding-top: 10px;
}

.search-operation-info__description {
	overflow-x: scroll;
}

.padding-5-on-sides {
  padding-left: 5px;
  padding-right: 5px;
}