<div class="modal-header">
  <h3 class="modal-title">{{ 'CONFIRMATION' | translate }}</h3>
</div>
<div class="modal-body">
  <p>{{ text }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'OK' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>