<div class="modal-header">
  <h3 class="modal-title">{{ text }}</h3>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-md-12">
				<label>{{ 'USER_NAME' | translate }}</label>
				<input class="form-control" ng-model="name" placeholder="{{ 'USER_NAME' | translate }}"/>
			  </div>
			</div>
		  </div>
		</div>
		<div class="form-group">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-md-12">
				<label>{{ 'USER_EMAIL' | translate }}</label>
				<input class="form-control" type="email" ng-model="email" placeholder="{{ 'USER_EMAIL' | translate }}"/>
			  </div>
			</div>
		  </div>
		</div>
		<div class="form-group">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-md-12">
				<label>{{ 'USER_PASSWORD' | translate }}</label>
				<p class="muted" ng-if="id">{{ 'PASSWORD_IS_HIDDEN' | translate }}</p>
				<input class="form-control" ng-model="password" placeholder="{{ 'USER_PASSWORD' | translate }}"/>
			  </div>
			</div>
		  </div>
		</div>
		<div class="form-group">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-md-12">
				<label>{{ 'USER_IS_ADMIN' | translate }}</label>
				<input type="checkbox" ng-model="is_admin"/>
			  </div>
			</div>
		  </div>
		</div>
	</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-show="id" type="button" ng-disabled="!name || !email" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-primary" ng-hide="id" type="button" ng-disabled="!name || !email || !password" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>