<div class="modal-header">
  <h3 class="modal-title">{{ 'BASE_LAYERS' | translate }}</h3>
</div>
<div class="modal-body">
  <p>{{ 'LAYER_NAME' | translate }}</p>
  <input class="form-control" ng-model="layer.name" placeholder="OSM" type="text"/>
  <p>{{ 'TILE_FORMULE' | translate }}</p>
  <p><strong>{x},{y}</strong> - {{ 'TILE_COORDINATES' | translate }}</p>
  <p><strong>{z}</strong> - {{ 'TILE_ZOOM_LEVEL' | translate }}</p>
  <input class="form-control" ng-model="layer.tile_url" placeholder="http://{s}.tile.osm.org/{z}/{x}/{y}.png" type="text"/>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>