<div class="modal-header">
  <h3 class="modal-title">{{ 'DISPLAY' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'COLOR' | translate }}</label>
			<div class="input-group width-140 ng-isolate-scope colorpicker-element" oncolorchange="applyColorChange()" colorvalue="color" bootstrap-colorpicker>
              <input type="text" class="form-control input-sm">
              <span class="input-group-addon"><i style="background-color: rgb(129, 230, 118);"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'HEARING_ZONE_OPACITY' | translate }} (0.0 - 1.0)</label>
			<input class="form-control input-sm width-70" ng-model="opacity" placeholder="0.3" type="number" min="0" max="1" step="0.1"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="feature-display-preview__container">
				<div class="feature-display-preview__line" style="background-color: {{ color }}"></div>
				<div class="feature-display-preview__border" style="background-color: {{ color }}; opacity: {{ opacity }}"></div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>