<div class="modal-header">
  <h3 class="modal-title">{{ 'EDIT_SPECIAL_MARKUP' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group" ng-show="templates.length > 0">
              <select class="form-control input-sm" ng-model="currentTemplate" ng-options="template.name for template in templates"></select>
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary" ng-disabled="!currentTemplate" ng-click="applyTemplate()">{{ 'APPLY' | translate }}</button>
                <button type="button" class="btn btn-sm btn-primary" ng-disabled="!currentTemplate" ng-click="deleteTemplate()">{{ 'DELETE' | translate }}</button>
              </span>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="input-group" ng-hide="templateIsSaved">
              <input class="form-control input-sm" ng-model="templateName" placeholder="{{ 'TITLE' | translate }}" type="text"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary" ng-disabled="!templateName" ng-click="saveTemplate()">{{ 'SAVE_TEMPLATE' | translate }}</button>
              </span>
            </div>
            <div ng-show="templateIsSaved" class="text-center">
              <p class="text-success">{{ 'TEMPLATE_WAS_CREATED' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'GEOMETRY_TYPE' | translate }}: <span ng-show="type === 'marker'">{{ 'POINT' | translate }}</span><span ng-show="type === 'polyline'">{{ 'LINE' | translate }}</span><span ng-show="type === 'polygon'">{{ 'POLYGON' | translate }}</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'DESCRIPTION' | translate }} <span class="required">*</span></label>
            <input class="form-control" ng-model="description" placeholder="{{ 'DESCRIPTION' | translate }}" type="text"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <label>{{ 'PASSING_DEGREE' | translate }}</label>
            <input class="form-control js-sp" ng-model="sp" placeholder="{{ 'PASSING_DEGREE' | translate }}" type="number" step="0.1" min="0" max="1"/>
          </div>
          <div class="col-md-6">
            <label>{{ 'PATH_CURVE_DEGREE' | translate }}</label>
            <input class="form-control js-skd" ng-model="skd" placeholder="{{ 'PATH_CURVE_DEGREE' | translate }}" type="number" step="0.1" min="0" max="1"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <label>{{ 'SOUND_CORIDOR' | translate }}</label>
            <input class="form-control" ng-model="shk" placeholder="{{ 'SOUND_CORIDOR' | translate }}" type="number"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'DESTINATION_DISCOVERY_OBJECT' | translate }}</label>
            <input type="radio" ng-model="ovn" value="0">{{ 'NO' | translate }}
            <input type="radio" ng-model="ovn" value="1">{{ 'YES' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'IS_GLOBAL_MARKUP' | translate }}</label>
            <input type="radio" ng-model="global" value="0">{{ 'NO' | translate }}
            <input type="radio" ng-model="global" value="1">{{ 'YES' | translate }}
          </div>
        </div>
      </div>
    </div>
	<div class="form-group" ng-show="errors.length > 0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
			<div class="alert alert-danger no-margin" role="alert"><div ng-repeat="error in errors">{{ error }}</div></div>
		  </div>
		</div>
	  </div>
	</div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="!description" ng-click="description && onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>