<div class="modal-header">
  <h3 class="modal-title">{{ 'EDIT_ROUTE' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'PARTICIPANTS' | translate }} <span class="required">*</span></label>
            <input class="form-control" ng-model="participants" placeholder="{{ 'PARTICIPANTS' | translate }}" type="text"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <label>{{ 'TIMESPAN' | translate }}<span class="required">*</span></label>
          </div>
          <div class="col-md-4">
            <input class="form-control" data-date-time-picker time="true" format="DD.MM.YYYY HH:mm" affectedvalue="date_from" enddatevalue="date_to" type="text"/>
          </div>
          <div class="col-md-4">
            <input class="form-control" data-date-time-picker time="true" format="DD.MM.YYYY HH:mm" affectedvalue="date_to" startdatevalue="date_from" type="text"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <label>{{ 'HEARING_ZONE' | translate }}</label>
            <input class="form-control" ng-model="hearing_zone" placeholder="{{ 'HEARING_ZONE' | translate }}" type="number"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-hide="route">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12" ng-hide="loading || geodata">
            <p>{{ 'UPLOAD_GPX_FILE' | translate }}</p>
            <div class="btn btn-success" ngf-select="upload($file)" ngf-accept="filePattern" ngf-pattern="filePattern">{{ 'SELECT_FILE' | translate }}</div>
          </div>
          <div class="col-md-12 text-center" ng-show="geodata">
            <p class="text-success">{{ 'FILE_IS_UPLOADED' | translate }} ({{ filename }})</p>
          </div>
        </div>
		<div class="row text-center">
		  <div class="col-md-4"></div>
          <div class="col-md-4" ng-show="loading">
			<div class="progress">
			  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			</div>
		  </div>
		  <div class="col-md-4"></div>
		</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!participants || !geodata || !date_from || !date_to" type="button" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>