<div class="modal-header">
  <h3 class="modal-title">{{ 'ENTER_SPECIAL_MARKUP' | translate }}</h3>
</div>
<div class="modal-body">
	<div>
		<ul class="nav nav-tabs">
		  <li ng-class="{'active': mode === 'dd'}"><a href="#" ng-click="mode = 'dd'">{{ 'DEGREES_AND_DECIMAL_COORDINATES' | translate }}</a></li>
		  <li ng-class="{'active': mode === 'dmd'}"><a href="#" ng-click="mode = 'dmd'">{{ 'DEGREES_MINUTES_AND_DECIMAL_COORDINATES' | translate }}</a></li>
		  <li ng-class="{'active': mode === 'dms'}"><a href="#" ng-click="mode = 'dms'">{{ 'DEGREES_MINUTES_SECONDS_COORDINATES' | translate }}</a></li>
		</ul>
	</div>
	<div class="rs-enter-special-markup-modal__form-container" ng-show="mode === 'dd'">
		<form>
			<div class="form-group">
			  <div class="container-fluid">
				<div class="row">
				  <div class="col-md-12">
					<label>{{ 'DEGREES_AND_DECIMAL_COORDINATES' | translate }} <span class="required">*</span></label>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-6">
					<input class="form-control" rs-mask rs-format="M0ZZ.0ZZZZZZZZZZ" ng-model="dd_latitude" placeholder="{{ 'LATITUDE' | translate }} (10.1112)"/>
				  </div>
				  <div class="col-md-6">
					<input class="form-control" rs-mask rs-format="M0ZZ.0ZZZZZZZZZZ" ng-model="dd_longitude" placeholder="{{ 'LONGITUDE' | translate }} (12.1314)"/>
				  </div>
				</div>
			  </div>
			</div>
		</form>
	</div>
	<div class="rs-enter-special-markup-modal__form-container" ng-show="mode === 'dmd'">
		<form>
			<div class="form-group">
			  <div class="container-fluid">
				<div class="row">
				  <div class="col-md-12">
					<label>{{ 'DEGREES_MINUTES_AND_DECIMAL_COORDINATES' | translate }} <span class="required">*</span></label>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-6">
					<input class="form-control" rs-mask rs-format="M0ZZ° 0ZZ.0ZZZZZZZZZZ′ N" ng-model="dmd_latitude" placeholder="{{ 'LATITUDE' | translate }} (10° 11.12′ N)"/>
				  </div>
				  <div class="col-md-6">
					<input class="form-control" rs-mask rs-format="M0ZZ° 0ZZ.0ZZZZZZZZZZ′ E" ng-model="dmd_longitude" placeholder="{{ 'LONGITUDE' | translate }} (12° 13.14′ E)"/>
				  </div>
				</div>
			  </div>
			</div>
		</form>
	</div>
	<div class="rs-enter-special-markup-modal__form-container" ng-show="mode === 'dms'">
		<form>
			<div class="form-group">
			  <div class="container-fluid">
				<div class="row">
				  <div class="col-md-12">
					<label>{{ 'DEGREES_MINUTES_SECONDS_COORDINATES' | translate }} <span class="required">*</span></label>
				  </div>
				</div>
				<div class="row">
				  <div class="col-md-6">
					<input class="form-control" rs-mask rs-format="M0ZZ° 0ZZ′ 0ZZ″ N" ng-model="dms_latitude" placeholder="{{ 'LATITUDE' | translate }} (10° 11′12″ N)"/>
				  </div>
				  <div class="col-md-6">
					<input class="form-control" rs-mask rs-format="M0ZZ° 0ZZ′ 0ZZ″ E" ng-model="dms_longitude" placeholder="{{ 'LONGITUDE' | translate }} (12° 13′ 14″ E)"/>
				  </div>
				</div>
			  </div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="disabled" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>