<div class="modal-header">
  <h3 class="modal-title">{{ 'ERROR' | translate }}</h3>
</div>
<div class="modal-body">
  <p>{{ 'FOLLOWING_ERRORS_OCCURED' | translate }}</p>
  <div ng-repeat="errorCode in errorCodes" class="alert alert-danger" role="alert">{{ errorCode | translate }}</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'OK' | translate }}</button>
</div>