<div class="modal-header">
  <h3 class="modal-title">{{ 'IMPORT_SEARCH_OPERATION' | translate }}</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
	<div class="row">
	  <div class="col-md-12">
		<p>{{ 'IMPORT_SEARCH_OPERATION_DESCRIPTION' | translate }}</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <div class="container-fluid">
		  <div class="row">
			<form class="form-inline">
			  <div class="form-group">
				<label for="importedSearchOperationId">{{ 'IDENTIFIER' | translate }}</label>
				<input type="text" class="form-control" ng-model="identifier" id="importedSearchOperationId" placeholder="1000" type="number" min="0"/>
			  </div>
			  <button type="button" ng-disabled="!identifier" class="btn btn-primary" ng-click="importSearchOperationById()">{{ 'IMPORT' | translate }}</button>
			</form>
		  </div>
		  <div class="row" ng-show="loading">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="padding-top-10">
			  <div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			  </div>
			  </div>
			</div>
			<div class="col-md-4"></div>
		  </div>
		  <div class="row">
			<p class="bg-success import-search-operation__message" ng-show="successMessage">{{ successMessage }}</p>
			<p class="bg-danger import-search-operation__message" ng-show="errorMessage">{{ errorMessage }}</p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="onOk()">{{ 'OK' | translate }}</button>
</div>