<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" translate="LOGIN"></h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="exampleInputEmail1">{{ 'EMAIL_ADDRESS' | translate }}</label>
    <input type="email" class="form-control" ng-model="email" id="exampleInputEmail1" placeholder="{{ 'EMAIL' | translate }}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">{{ 'PASSWORD' | translate }}</label>
    <input type="password" class="form-control" ng-model="password" id="exampleInputPassword1" placeholder="{{ 'PASSWORD' | translate }}">
  </div>
  <div class="form-group" ng-show="loginError">
	<div class="alert alert-danger" role="alert">{{ 'INVALID_CREDENTIALS' | translate }}</div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" translate="LOGIN" ng-disabled="!email || !password" ng-click="onSuccess()">{{ 'LOGIN' | translate }}</button>
  <button type="button" class="btn btn-default" translate="CANCEL" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>