<div class="modal-header">
  <h3 class="modal-title">{{ 'MODELLING_SETTINGS' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group" ng-show="templates.length > 0">
            <select class="form-control input-sm" ng-model="currentTemplate" ng-options="template.name for template in templates"></select>
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary" ng-disabled="!currentTemplate" ng-click="applyTemplate()">{{ 'APPLY' | translate }}</button>
              <button type="button" class="btn btn-sm btn-primary" ng-disabled="!currentTemplate" ng-click="deleteTemplate()">{{ 'DELETE' | translate }}</button>
            </span>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="input-group" ng-hide="templateIsSaved">
            <input class="form-control input-sm" ng-model="templateName" placeholder="{{ 'TITLE' | translate }}" type="text"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary" ng-disabled="!templateName" ng-click="saveTemplate()">{{ 'SAVE_TEMPLATE' | translate }}</button>
            </span>
          </div>
          <div ng-show="templateIsSaved" class="text-center">
            <p class="text-success">{{ 'TEMPLATE_WAS_CREATED' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="row padding-top-10">
        <div class="col-md-6">
          <label>{{ 'WEIGHT' | translate }}</label>
          <input class="form-control" ng-model="settings.weight" placeholder="0" type="text"/>
        </div>
        <div class="col-md-6">
          <label>{{ 'HEIGHT' | translate }}</label>
          <input class="form-control" ng-model="settings.height" placeholder="0" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>{{ 'SPEED' | translate }}</label>
          <input class="form-control" ng-model="settings.speed" placeholder="0" type="text"/>
        </div>
        <div class="col-md-6">
          <label>{{ 'TIREDNESS' | translate }}</label>
          <input class="form-control" ng-model="settings.tiredness" placeholder="0" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>{{ 'HEARING' | translate }}</label>
          <input class="form-control" ng-model="settings.hearing" placeholder="{{ 'HEARING' | translate }}" type="text"/>
        </div>
        <div class="col-md-6">
          <label>{{ 'VOICE' | translate }}</label>
          <input class="form-control" ng-model="settings.voice" placeholder="{{ 'VOICE' | translate }}" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>{{ 'GOAL' | translate }}</label>
          <textarea class="form-control" ng-model="settings.goal" placeholder="{{ 'GOAL' | translate }}"></textarea>
        </div>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'OK' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>