<div class="modal-header">
  <h3 class="modal-title">{{ 'MISSING_PERSON' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <label>{{ 'FULL_NAME' | translate }} <span class="required">*</span></label>
            <input class="form-control" ng-model="person.name" placeholder="{{ 'FULL_NAME' | translate }}" type="text"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <label>{{ 'BIRTH_YEAR' | translate }}</label>
            <input class="form-control" ng-model="person.birth_year" placeholder="1990" type="text"/>
          </div>
          <div class="col-md-6">
            <label>{{ 'SEX' | translate }}</label>
            <input type="radio" ng-model="person.sex" value="0">{{ 'MALE' | translate }}
            <input type="radio" ng-model="person.sex" value="1">{{ 'FEMALE' | translate }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="!person.name || !person.birth_year" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>