<div class="modal-header">
  <h3 class="modal-title">{{ 'RENAME' | translate }}</h3>
</div>
<div class="modal-body">
  <p>{{ text }}</p>
  <input class="form-control" ng-model="value" type="text"/>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'SAVE' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>