<div class="modal-header">
  <h3 class="modal-title">{{ 'TIME_INTERVALS' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="container-fluid">
      <div class="row" ng-show="errors">
        <p>{{ 'INTERVALS_ERRORS_WERE_ENCOUNTERED' | translate }}</p>
        <div class="alert alert-warning" role="alert">
          <p ng-repeat="error in errors">{{ error | translate }}</p>
        </div>
      </div>
      <div class="row" ng-show="!errors">
        <div class="col-md-12">
          <p>{{ 'INTERVALS_INTRODUCTION' | translate }}</p>
          <div ng-hide="editing">
            <p>{{ 'ADD_CUSTOM_INTERVAL' | translate }} <button type="button" class="btn btn-default btn-sm" ng-click="editCustomStage()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'ADD' | translate }}</button></p>
          </div>
          <!-- Listing custom intervals -->
          <div>
            <div ng-repeat="stage in customStages">
              {{ stage.time_from | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }} - {{ stage.time_to | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }} {{ stage.description }}
              <button type="button" class="btn btn-xs" ng-click="editCustomStage(stage)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-xs" ng-click="deleteCustomStage(stage)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
          </div> 
          <div ng-show="editing">
            <form>
              <div class="form-inline">
                <div class="form-group">
                  <label for="timeFrom">{{ 'FROM' | translate }}</label>
                  <input type="text" class="form-control width-140 input-sm" id="timeFrom" data-format="DD.MM.YYYY HH:mm" data-date-time-picker affectedvalue="customStage.time_from"/>
                </div>
                <div class="form-group">
                  <label for="timeTo">{{ 'TO' | translate }}</label>
                  <input type="text" class="form-control width-140 input-sm" id="timeTo" data-format="DD.MM.YYYY HH:mm" data-date-time-picker affectedvalue="customStage.time_to"/>
                </div>
                <div class="form-group">
                  <label for="description">{{ 'DESCRIPTION' | translate }}</label>
                  <input ng-model="customStage.description" type="text" class="form-control input-sm" id="description" placeholder="{{ 'DESCRIPTION' | translate }}">
                </div>
                <button type="button" class="btn btn-primary btn-sm" ng-disabled="!customStage.time_from || !customStage.time_to || !customStage.description" ng-click="addCustomStage()">{{ 'SAVE' | translate }}</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="cancelEditingCustomStage()">{{ 'CANCEL' | translate }}</button>
              </div>
            </form>
          </div>
          <div>
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th><!--{{ 'INTERVAL' | translate }}--></th>
                  <th>{{ 'CONDITIONS' | translate }}</th>
                  <th class="text-center">
                    <span class="glyphicon glyphicon-user" bootstrap-tooltip heading="{{ 'TIREDNESS_DEGREE' | translate }}" aria-hidden="true"></span>
                  </th>
                  <th class="text-center">
                    <span class="glyphicon glyphicon-adjust" bootstrap-tooltip heading="{{ 'DAYLIGHT_EFFECT' | translate }}" aria-hidden="true"></span>
                  </th>
                  <th class="text-center">
                    <span class="glyphicon glyphicon-cloud" bootstrap-tooltip heading="{{ 'WEATHER_EFFECT' | translate }}" aria-hidden="true"></span>
                  </th>
                  <th class="text-center">
                    <span class="glyphicon glyphicon-th-large" bootstrap-tooltip heading="{{ 'GROUP' | translate }}" aria-hidden="true"></span>
                  </th>
                  <th class="text-center">  
                    <span class="glyphicon glyphicon-wrench" bootstrap-tooltip heading="{{ 'OTHER_COEFFICIENTS' | translate }}" aria-hidden="true"></span>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stage in stages">
                  <td>{{ $index + 1 }}</td>
                  <td>
                    {{ stage.time_from | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }} - {{ stage.time_to | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }} <br/>
                    {{ stage.description }}
                  </td>
                  <td class="text-center"><input ng-model="stage.tiredness" ng-change="stage.speed = defaultSpeed * stage.tiredness * stage.daylight * stage.weather * stage.group * stage.other" class="form-control input-sm width-70" type="number" step="0.1" min="0" max="1"/></td>
                  <td class="text-center"><input ng-model="stage.daylight" ng-change="stage.speed = defaultSpeed * stage.tiredness * stage.daylight * stage.weather * stage.group * stage.other" class="form-control input-sm width-70" type="number" step="0.1" min="0" max="1"/></td>
                  <td class="text-center"><input ng-model="stage.weather" ng-change="stage.speed = defaultSpeed * stage.tiredness * stage.daylight * stage.weather * stage.group * stage.other" class="form-control input-sm width-70" type="number" step="0.1" min="0" max="1"/></td>
                  <td class="text-center"><input ng-model="stage.group" ng-change="stage.speed = defaultSpeed * stage.tiredness * stage.daylight * stage.weather * stage.group * stage.other" class="form-control input-sm width-70" type="number" step="0.1" min="0" max="1"/></td>
                  <td class="text-center"><input ng-model="stage.other" ng-change="stage.speed = defaultSpeed * stage.tiredness * stage.daylight * stage.weather * stage.group * stage.other" class="form-control input-sm width-70" type="number" step="0.1" min="0" max="1"/></td>
                  <td class="text-center">
                    <div class="input-group width-100">
                      <input type="text" class="form-control input-sm " ng-model="stage.speed" disabled />
                      <span class="input-group-addon">{{ 'KM_PER_HOUR' | translate }}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'OK' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>