<div class="modal-header">
  <h3 class="modal-title">{{ 'TIME_SETTINGS' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <label>{{ 'FOREST_ENTERING_TIME' | translate }}</label>
          <input class="form-control" affectedvalue="settings.forest_entering_time" data-date-time-picker format="Y-MM-DD HH:mm" type="text"/>
        </div>
        <div class="col-md-6">
          <label>{{ 'LOST_TIME' | translate }}</label>
          <input class="form-control" affectedvalue="settings.lost_time" data-date-time-picker format="Y-MM-DD HH:mm" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>{{ 'CURRENT_TIME' | translate }}</label>
          <input class="form-control" affectedvalue="settings.current_entered_time" data-date-time-picker format="Y-MM-DD HH:mm" type="text"/>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'OK' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>