<div class="modal-header">
  <h3 class="modal-title">{{ 'WEATHER_AND_LIGHT_SETTINGS' | translate }}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <label>{{ 'SUNRISE_TIME' | translate }}</label>
          <input class="form-control input-sm" affectedvalue="settings.sunrise_time" data-date-time-picker format="HH:mm" type="text"/>
        </div>
        <div class="col-md-6">
          <label>{{ 'SUNSET_TIME' | translate }}</label>
          <input class="form-control input-sm" affectedvalue="settings.sunset_time" data-date-time-picker format="HH:mm" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>{{ 'MOONRISE_TIME' | translate }}</label>
          <input class="form-control input-sm" affectedvalue="settings.moonrise_time" data-date-time-picker format="HH:mm" type="text"/>
        </div>
        <div class="col-md-6">
          <label>{{ 'MOONSET_TIME' | translate }}</label>
          <input class="form-control input-sm" affectedvalue="settings.moonset_time" data-date-time-picker format="HH:mm" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>{{ 'WEATHER_CONDITIONS' | translate }}</label>
          <div>
            <div class="well">
              <div class="container-fluid">
                <div class="row">
					<form class="form-horizontal">
					  <div class="form-group">
						<label class="col-sm-3 control-label">
							{{ 'PERIOD' | translate }}
						</label>
						<div class="col-sm-9">
						<div class="input-group">
							<input class="form-control input-sm date-time-field" type="text" affectedvalue="weather_condition.time_from" enddatevalue="weather_condition.time_to" data-date-time-picker format="DD.MM.YYYY HH:mm" />
							<input class="form-control input-sm date-time-field" type="text" affectedvalue="weather_condition.time_to" startdatevalue="weather_condition.time_from" data-date-time-picker format="DD.MM.YYYY HH:mm"/>
						</div>
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-3 control-label">{{ 'CONDITION' | translate }}</label>
						<div class="col-sm-9">
						  <input class="form-control input-sm" ng-model="weather_condition.description"/>
						</div>
					  </div>
					  <div class="form-group">
						<label class="col-sm-3 control-label">{{ 'TEMPERATURE' | translate }}</label>
						<div class="col-sm-3">
						  <input class="form-control input-sm" type="number" ng-model="weather_condition.temperature"/>
						</div>
						<div class="col-sm-6 text-right">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-sm" ng-disabled="!weather_condition.time_from && !weather_condition.time_to && !weather_condition.temperature && !weather_condition.description" ng-click="clearWeatherCondition()">{{ 'CLEAR' | translate }}</button>
								<button type="button" class="btn btn-sm btn-primary" ng-disabled="!weather_condition.time_from || !weather_condition.time_to || !weather_condition.temperature || !weather_condition.description" ng-click="addWeatherCondition()">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'SAVE_PERIOD' | translate }}
								</button>
							</div>
						</div>
					  </div>
					</form>
				</div>
			  </div>
			</div>
            <div class="well well-sm" ng-repeat="condition in settings.weather_conditions">
              <button type="button" class="btn btn-xs btn-default" title="{{ 'DELETE' | translate }}" ng-click="remove(settings.weather_conditions, $index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              {{ condition.time_from | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }} - {{ condition.time_to | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm' }}, {{ condition.temperature }}, {{ condition.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="onSuccess()">{{ 'OK' | translate }}</button>
  <button class="btn btn-warning" type="button" ng-click="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>