<div class="row no-gutter map-container">
<div class="workspace-expander" ng-show="authorized" ng-cloak>
  <div title="{{ 'FOLD_DASHBOARD' | translate }} / {{ 'UNFOLD_DASHBOARD' | translate }}" class="workspace-expander__fold-all js-fold-all" ng-click="toggleWorkspaceExpansion()">
	<div>
		<small>
		  <span ng-if="workspaceExpansionStage > 0" class="glyphicon glyphicon-triangle-left" aria-hidden="true" ></span>
		  <span ng-if="workspaceExpansionStage === 0" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</small>
	</div>
  </div>
  <div class="workspace-expander__fold-left js-fold-left" ng-class="{'workspace-expander__fold-left_inactive': workspaceExpansionStage === 0}" ng-click="workspaceShrink()">
	<div title="{{ 'SHRINK_DASHBOARD' | translate }}">
		<small>
		  <span class="glyphicon glyphicon-menu-left" aria-hidden="true" ></span>
		</small>
	</div>
  </div>
  <div title="{{ 'EXPAND_DASHBOARD' | translate }}" class="workspace-expander__fold-right js-fold-right" ng-class="{'workspace-expander__fold-left_inactive': workspaceExpansionStage === 6}" ng-click="workspaceExpand()">
	<div>
		<small>
		  <span class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>
		</small>
	</div>
  </div>
</div>
<div class="full-height overflow-y-auto js-left-panel" ng-cloak>
  <ng-include src="'/js/app/templates/searchOperations.html'"></ng-include>
</div>
<div class="full-height js-right-panel">
  <div id="map" class="map"></div>
</div>
</div>