<div class="row no-gutter map-container" ng-controller="AdminController">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{ 'USER_LIST' | translate }} <button class="btn" type="button" ng-click="editUser()">{{ 'ADD_USER' | translate }}</button></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{{ 'IDENTIFIER' | translate }}</th>
							<th>{{ 'USER_NAME' | translate }}</th>
							<th>{{ 'USER_EMAIL' | translate }}</th>
							<th>{{ 'USER_IS_ADMIN' | translate }}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users">
							<th scope="row">{{ user.id }}</th>
							<td>{{ user.name }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.is_admin }}</td>
							<td>
								<button ng-show="user.id !== 1 && user.id !== 2" type="button" class="btn" ng-click="editUser(user)">{{ 'EDIT' | translate }}</button>
								<button ng-show="user.id !== 1 && user.id !== 2" type="button" class="btn" ng-click="deleteUser(user)">{{ 'DELETE' | translate }}</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>