<div ng-controller="MissingPeopleController" ng-show="ready">
  <div>
    <h5>
      <a rs-toggle-display-link target="collapseMissingPeople">{{ 'MISSING_PEOPLE' | translate }} <span ng-if="keeper.missingPeople">({{ keeper.missingPeople.length }})</span></a>
      <button type="button" class="btn btn-default btn-xs" ng-disabled="editing" ng-click="editMissingPerson()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </h5>
  </div>
  <div id="collapseMissingPeople" class="missing-people__container" style="display: none">
	<div class="padding-top-10" ng-show="keeper.missingPeople.length === 0">
	  <p>{{ 'NO_MISSING_PEOPLE_ENTERED_YET' | translate }}</p>
	</div>
	<div ng-repeat="person in keeper.missingPeople" class="bg-info ">
	  <div class="container-fluid">
		<div class="row no-gutter">
		  <div class="col-md-8">
			<p>{{ person.name }}</p>
		  </div>
		  <div class="col-md-4 text-right">
			<button type="button" class="btn btn-default btn-xs" title="{{ 'RENAME' | translate }}" ng-click="editMissingPerson(person)">
			  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</button>
			<button type="button" class="btn btn-default btn-xs" title="{{ 'DELETE' | translate }}" ng-click="deleteMissingPerson(person)">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>