<div class="panel panel-default" ng-controller="ModellingSettingsController" rs-panel-group ng-show="ready">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseModellingSettings" aria-expanded="false" aria-controls="collapseRoutes">{{ 'SETTINGS_FOR_SEARCH_OPERATION_MODELLING' | translate }}</a>
    </h4>
  </div>
  <div id="collapseModellingSettings" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body no-padding">
      <div class="container-fluid">
        <div class="row padding-top-10">
          <div class="col-md-5">
            <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'MISSING_PERSON' | translate }} <button type="button" class="btn btn-default btn-xs" ng-disabled="editing" ng-click="editMissingPersonSettings(settings)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button></p>
          </div>
          <div class="col-md-5" ng-show="keeper.missingPeople.length > 0">
            <select class="form-control input-sm" ng-options="item as item.name for item in keeper.missingPeople track by item.id" ng-model="selectedMissingPerson"></select>
          </div>
          <div class="col-md-7" ng-hide="keeper.missingPeople.length > 0">{{ 'NO_MISSING_PEOPLE_ENTERED_YET' | translate }}</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> {{ 'WEATHER_AND_LIGHT' | translate }}
            <button type="button" class="btn btn-default btn-xs" ng-disabled="editing" ng-click="editWeatherAndLightSettings(settings)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ 'STARTING_POINT' | translate }}</p>
          </div>
          <div class="col-md-7">
            <location-picker size="sm" iconclass="male" showpreview="true" location="settings.start_coordinates"></location-picker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ 'START_TIME_AND_START_POINT_DURATION' | translate }}</p>
          </div>
          <div class="col-md-4 padding-top-10">
            <input type="text" class="form-control input-sm" data-format="DD.MM.YYYY HH:mm" data-date-time-picker enddatevalue="settings.finish_time" affectedvalue="settings.start_time"/>
          </div>
          <div class="col-md-2 padding-top-10">
            <input type="number" class="form-control input-sm" ng-model="settings.stayed_for"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ 'FINISH_TIME' | translate }}</p>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control input-sm" data-format="DD.MM.YYYY HH:mm" data-date-time-picker affectedvalue="settings.finish_time" startdatevalue="settings.start_time"/>
          </div>
        </div>
        <div class="row padding-top-10">
          <div class="col-md-12">
            <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  {{ 'TIME_INTERVALS' | translate }}
            <button type="button" class="btn btn-default btn-xs" ng-disabled="editing || !settings.start_time || !settings.finish_time" ng-click="editTimeIntervals()">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ 'DEFINE_TIME_INTERVALS' | translate }}
            </button></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 modelling-settings__calculate-instructions">
			<span>{{ 'CALCULATE_INSTRUCTIONS' | translate }}</span>
			<button ng-hide="spreadStages.length > 0" type="button" class="btn btn-xs btn-success" ng-disabled="!stages || !settings.start_time || !settings.finish_time || !settings.start_coordinates" ng-click="computeLocation()">
              <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> {{ 'CALCULATE' | translate }}
            </button>
			<button ng-show="spreadStages.length > 0" type="button" class="btn btn-xs btn-warning"  ng-click="clearCompuitations()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'CLEAR' | translate }}
            </button>
          </div>
        </div>
        <div class="row" ng-show="calculating">
          <div class="col-md-12">
			<div class="modelling-settings__loading-bar-container">
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span class="sr-only">100% Complete</span>
				  </div>
				</div>
				<p>{{ 'CALCULATING_ON_SERVER' | translate }}</p>
			</div>
          </div>
        </div>
        <div class="row" ng-show="downloading">
          <div class="col-md-12">
			<div class="modelling-settings__loading-bar-container">
				<div class="progress">
				  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					<span class="sr-only">100% Complete</span>
				  </div>
				</div>
				<p>{{ 'DOWNLOADING_RESULTS' | translate }}</p>
			</div>
          </div>
        </div>
        <div class="row modelling-settings__spread-stages-controls" ng-show="spreadStages">
          <div class="col-md-7">
            <div>
				<rs-slider changecallback="changeCurrentSpreadCalculation(val)" rs-value="currentSpreadCalculation" rs-min="numberOfSpreadsMin" rs-max="numberOfSpreadsMax"/>
			</div>
			<div ng-show="displayedTime">{{ 'DISPLAYED_MOMENT' | translate }}: <strong>{{ displayedTime }}</strong></div>
          </div>
          <div class="col-md-5">
            <div class="button-group">
			  <label>{{ (currentSpreadCalculation * step) | rsPrettySecond }} / {{ (numberOfSpreadsMax * step) | rsPrettySecond }}</label><br/>
              <button type="button" class="btn btn-primary btn-xs" ng-click="previousStage()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-primary btn-xs" ng-click="nextStage()"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-primary btn-xs" ng-hide="playing" ng-click="playbackStage()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-primary btn-xs" ng-hide="playing" ng-click="playStage()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-primary btn-xs" ng-show="playing" ng-click="stopStage()"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>