<div class="panel panel-default" ng-controller="RoutesController" rs-panel-group ng-show="ready">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseRoutes" aria-expanded="false" aria-controls="collapseRoutes">{{ 'COMPLETED_ROUTES' | translate }}</a>
      <button type="button" class="btn btn-default btn-xs" title="{{ 'UPLOAD_ROUTE' | translate }}" ng-disabled="editing" ng-click="editRoute()">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      </button>
    </h4>
  </div>
  <div id="collapseRoutes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="padding-top-10" ng-show="routes.length === 0">
              <p>{{ 'NO_ROUTES_CREATED_YET' | translate }}</p>
            </div>
            <div ng-repeat="route in routes | orderBy : '-date_from'" class="bg-info routes__route-container" ng-class="{'routes__route_active': route.active}">
              <div class="container-fluid">
                <div class="row no-gutter">
                  <div class="col-md-7">
                    <p>{{ route.participants }} <br/><span ng-show="route.date_from && route.date_to">({{ route.date_from | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm'}} - {{ route.date_to | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm'}})</span></p>
                  </div>
                  <div class="col-md-5 text-right">
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'ROUTE_COLOR' | translate }}" style="background-color: {{ route.color }}" ng-disabled="true">
                      <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'ROUTE_ZONE_VISIBILITY' | translate }}" ng-click="toggleRouteZoneDisplay(route)">
                      <span ng-show="route.hideZone" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                      <span ng-hide="route.hideZone" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'DISPLAY_SETTINGS' | translate }}" ng-click="editRouteDisplay(route)">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'SHOW_ROUTE' | translate }}" ng-click="centerOnRoute(route)">
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'DOWNLOAD_AS_GPX' | translate }}" ng-click="downloadAsGPX(route)">
                      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'EDIT' | translate }}" ng-click="editRoute(route)">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'DELETE' | translate }}" ng-click="deleteRoute(route)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>