<div class="container-fluid" ng-controller="SearchOperationsController">
  <div class="row">
    <div class="col-md-12 no-padding">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ 'MAIN' | translate }}</a>
        </li>
        <li role="presentation">
          <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{ 'SETTINGS' | translate }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h4>{{ 'SEARCH_OPERATIONS' | translate }}</h4>
              </div>
            </div>
            <div class="row" ng-hide="ready">
              <div class="col-md-12">
                <div class="search-operations__loading">
					<p>{{ 'LOADING' | translate }}</p>
					<div class="progress">
					  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					</div>
				</div>
              </div>
            </div>
            <div class="row" ng-show="ready">
              <div class="col-md-12">
                <form class="form-inline">
                  <div class="form-group" ng-show="searchOperations.length > 0">
                    <select class="form-control input-sm" ng-model="currentSearchOperation" ng-change="setCurrentSearchOperation()" ng-options="item.location_locality for item in searchOperations"></select>
                  </div>
                  <div class="form-group" ng-show="searchOperations.length === 0">
                    <p>{{ 'CREATE_SEARCH_OPERATION' | translate }}</p>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm" title="{{ 'CREATE' | translate }}" ng-click="createSearchOperation()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="form-group" ng-show="searchOperations.length > 0">
                    <button type="button" class="btn btn-primary btn-sm" title="{{ 'EDIT' | translate }}" ng-click="editSearchOperation()">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="form-group" ng-show="searchOperations.length > 0">
                    <button type="button" class="btn btn-primary btn-sm" title="{{ 'DELETE' | translate }}" ng-click="deleteSearchOperation()">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm" title="{{ 'IMPORT_SEARCH_OPERATION' | translate }}" ng-click="importSearchOperation()">
                      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row padding-top-10" ng-show="editing">
              <div class="col-md-12">
                <form name="searchOperationForm" class="form-horizontal" novalidate>
                  <div class="form-group">
                    <label for="searchOperationForm_location_region" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_LOCATION_REGION' | translate }} <span class="required">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_location_region" placeholder="" ng-model="currentSearchOperation.location_region" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_location_district" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_LOCATION_DISTRICT' | translate }} <span class="required">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_location_district" placeholder="" ng-model="currentSearchOperation.location_district" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_location_locality" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_LOCATION_LOCALITY' | translate }} <span class="required">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_location_locality" placeholder="" ng-model="currentSearchOperation.location_locality" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_operation_beginning_date" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_BEGINNING_DATE' | translate }} <span class="required">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_operation_beginning_date" data-format="DD.MM.YYYY" utc="true" data-date-time-picker affectedvalue="currentSearchOperation.operation_beginning_date" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_operation_accident_date" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_ACCIDENT_DATE' | translate }}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_operation_accident_date"  data-format="DD.MM.YYYY" utc="true" data-date-time-picker affectedvalue="currentSearchOperation.operation_accident_date">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_index_number" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_NUMBER' | translate }}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_index_number" ng-model="currentSearchOperation.index_number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_organization" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_ORGANIZATION' | translate }}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_organization" placeholder="" ng-model="currentSearchOperation.organization">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_leader" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_LEADER' | translate }}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="searchOperationForm_leader" placeholder="" ng-model="currentSearchOperation.leader">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_description" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_DESCRIPTION' | translate }}</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" id="searchOperationForm_description" placeholder="" ng-model="currentSearchOperation.description"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="searchOperationForm_center_coordinates" class="col-sm-4 control-label">{{ 'SEARCH_OPERATION_CENTER_COORDINATES' | translate }}</label>
                    <div class="col-sm-8">
                      <location-picker showpreview="editing" location="currentSearchOperation.center_coordinates"></location-picker>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" ng-disabled="!currentSearchOperation.location_region || !currentSearchOperation.location_district || !currentSearchOperation.location_locality || !currentSearchOperation.operation_beginning_date" ng-click="saveSearchOperation()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{ 'SAVE' | translate }}
                  </button>
                  <button type="button" class="btn btn-default" ng-click="cancelEditing()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'CANCEL' | translate }}
                  </button>
                </form>
              </div>
            </div>
            <div class="row padding-top-10">
              <div class="col-md-12">
                <!-- Search information display -->
                <div class="panel-group" role="tablist" aria-multiselectable="true" ng-show="currentSearchOperation" ng-cloak>
                  <ng-include src="'/js/app/templates/searchOperationInfo.html'"></ng-include>
                </div>
				<!-- Versions -->
                <div class="panel-group" role="tablist" aria-multiselectable="true" ng-show="currentSearchOperation" ng-cloak>
                  <ng-include src="'/js/app/templates/versions.html'"></ng-include>
                </div>
                <!-- Routes -->
                <div class="panel-group" role="tablist" aria-multiselectable="true" ng-show="currentSearchOperation" ng-cloak>
                  <ng-include src="'/js/app/templates/routes.html'"></ng-include>
                </div>
                <!-- Special markup -->
                <div class="panel-group" role="tablist" aria-multiselectable="true" ng-show="currentSearchOperation" ng-cloak>
                  <ng-include src="'/js/app/templates/specialMarkup.html'"></ng-include>
                </div>
                <!-- Modelling settings -->
                <div class="panel-group" role="tablist" aria-multiselectable="true" ng-show="currentSearchOperation" ng-cloak>
                  <ng-include src="'/js/app/templates/modellingSettings.html'"></ng-include>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
          <div class="container-fluid" ng-controller="BaseLayersController" ng-show="ready">
            <div class="row">
              <div class="col-md-12">
                <h4>
                  {{ 'BASE_LAYERS' | translate }}
                  <button type="button" class="btn btn-primary btn-xs" ng-click="editBaseLayer()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div ng-repeat="item in baseLayers" class="bg-info routes__route-container">
                  <div class="container-fluid">
                    <div class="row no-gutter">
                      <div class="col-md-8">
                        <p>{{ item.name }}</p>
                      </div>
                      <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-default btn-xs" title="{{ 'RENAME' | translate }}" ng-click="editBaseLayer(item)">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" title="{{ 'DELETE' | translate }}" ng-click="deleteBaseLayer(item)">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>