<div class="panel panel-default" rs-panel-group ng-show="ready">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapsesearchOperationInfo" aria-expanded="false" aria-controls="collapsesearchOperationInfo">{{ 'SEARCH_OPERATION_INFO' | translate }}</a>
    </h4>
  </div>
  <div id="collapsesearchOperationInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body no-padding">
      <div class="container-fluid">
		<div class="row" ng-show="!editing && currentSearchOperation">
		  <div class="col-md-12">
			<h5>{{ currentSearchOperation.location_region }}, {{ currentSearchOperation.location_district }}, {{ currentSearchOperation.location_locality }}</h5>
			
			<div><strong>{{ 'SEARCH_OPERATION_BEGINNING_DATE' | translate }}:</strong> {{ currentSearchOperation.operation_beginning_date | amDateFormat:'DD.MM.YYYY' }}</div>
			
			<div><span ng-show="currentSearchOperation.operation_accident_date"><strong>{{ 'SEARCH_OPERATION_ACCIDENT_DATE' | translate }}:</strong> {{ currentSearchOperation.operation_accident_date | amDateFormat:'DD.MM.YYYY' }}</span></div>
			
			<div><span ng-show="currentSearchOperation.index_number"><strong>{{ 'SEARCH_OPERATION_NUMBER' | translate }}:</strong> {{ currentSearchOperation.index_number }}</span></div>
			<div><span ng-show="currentSearchOperation.organization"><strong>{{ 'SEARCH_OPERATION_ORGANIZATION' | translate }}:</strong> {{ currentSearchOperation.organization }}</span></div>
			<div><span ng-show="currentSearchOperation.leader"><strong>{{ 'SEARCH_OPERATION_LEADER' | translate }}:</strong> {{ currentSearchOperation.leader }}</span></div>
			<div ng-show="currentSearchOperation.center_coordinates">
				<strong>{{ 'SEARCH_OPERATION_CENTER_COORDINATES' | translate }}:</strong>
				<location-picker location="currentSearchOperation.center_coordinates" readonly="true"></location-picker>
			</div>
			<div ng-show="currentSearchOperation.description">
				<div><strong>{{ 'SEARCH_OPERATION_DESCRIPTION' | translate }}:</strong></div>
				<div class="search-operation-info__description">{{ currentSearchOperation.description }}</div>
			</div>
			<ng-include src="'/js/app/templates/missingPeople.html'"></ng-include>
		  </div>
		</div>
      </div>
    </div>
  </div>
</div>