<div class="panel panel-default" ng-controller="SpecialMarkupController" rs-panel-group ng-show="ready">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSpecialMarkup" aria-expanded="false" aria-controls="collapseRoutes">{{ 'SPECIAL_MARKUP' | translate }}</a>
      <button type="button" class="btn btn-default btn-xs" title="{{ 'DRAW_SPECIAL_MARKUP_ELEMENT' | translate }}" ng-disabled="editing" ng-click="addSpecialMarkup()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default btn-xs" title="{{ 'ENTER_SPECIAL_MARKUP_BY_COORDINATES' | translate }}" ng-disabled="editing" ng-click="editMarkupByCoordinates()">
        <span class="fa fa-location-arrow" aria-hidden="true"></span>
      </button>
    </h4>
  </div>
  <div id="collapseSpecialMarkup" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body no-padding">
      <div class="container-fluid">
        <div class="row" ng-show="keeper.specialMarkup.length === 0">
          <div class="col-md-12">
            <div class="padding-top-10">
              <p>{{ 'NO_SPECIAL_MARKUP_CREATED' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="row" ng-hide="keeper.specialMarkup.length === 0">
          <div class="col-md-12">
             <div ng-repeat="item in keeper.specialMarkup" class="bg-info routes__route-container" ng-class="{'special-markup-tab__special-markup_active': item.active}">
              <div class="container-fluid">
                <div class="row no-gutter">
                  <div class="col-md-7">
                    <p>{{ item.description }}  <span class="label label-default" ng-show="!item.search_operation_id">{{ 'GLOBAL_OBJECT' | translate }}</span></p>
                  </div>
                  <div class="col-md-5 text-right">
                    <button type="button" class="btn btn-default btn-xs disabled" title="{{ 'COLOR' | translate }}" style="background-color: {{ item.color }}">
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'MARKUP_ZONE_VISIBILITY' | translate }}" ng-click="toggleMarkupZoneDisplay(item)">
                      <span ng-show="item.hideZone" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                      <span ng-hide="item.hideZone" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'DISPLAY_SETTINGS' | translate }}" ng-click="editSpecialMarkupDisplay(item)">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'SHOW' | translate }}" ng-click="centerOnMarkup(item)">
                      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'EDIT_FEATURE_ON_THE_MAP' | translate }}" ng-click="editFeature(item)">
                      <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                    </button>
                    <button ng-disabled="item.type !== 'marker'" type="button" class="btn btn-default btn-xs" title="{{ 'EDIT_BY_CORRDINATES' | translate }}" ng-click="editMarkupByCoordinates(item)">
                      <span class="fa fa-location-arrow" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'EDIT' | translate }}" ng-click="editMarkup(item)">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'DELETE' | translate }}" ng-click="deleteMarkup(item)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>