<div class="panel panel-default" ng-controller="VersionsController" rs-panel-group ng-show="ready">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseVersions" aria-expanded="false" aria-controls="collapseVersions">{{ 'VERSIONS' | translate }}</a>
      <button type="button" class="btn btn-default btn-xs" ng-disabled="editing" ng-click="createVersion()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </h4>
  </div>
  <div id="collapseVersions" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="padding-top-10" ng-show="versions.length === 0 && !editing">
              <p>{{ 'NO_VERSIONS_CREATED_YET' | translate }}</p>
            </div>
            <!-- Versions editing form -->
            <div ng-show="editing">
              <form>
                <div class="form-group">
                  <h5>{{ 'VERSION_EDITING' | translate }}</h5>
                </div>
                <div class="form-group">
                  <div class="container-fluid padding-5-on-sides">
                    <div class="row">
                      <div class="col-md-12">
                        <label>{{ 'TITLE' | translate }}</label>
                        <input type="text" class="form-control" placeholder="{{ 'TITLE' | translate }}" ng-model="currentVersion.name"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>{{ 'PROBABILITY' | translate }}</label>
                        <input type="number" class="form-control" placeholder="{{ 'PROBABILITY' | translate }}" ng-focus="setProbabilityForVersion()" min="0" max="100" ng-model="currentVersion.probability"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="container-fluid padding-5-on-sides">
                    <div class="row">
                      <div class="col-md-12">
                        <label>{{ 'DESCRIPTION' | translate }}</label>
                        <textarea class="form-control" placeholder="{{ 'DESCRIPTION' | translate }}" ng-model="currentVersion.description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <h5>{{ 'AREAS' | translate }}</h5>
                </div>
                <div class="form-group">
                  <div class="container-fluid padding-5-on-sides">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-condensed table-bordered no-margin">
                          <tbody>
                            <tr>
                              <td class="col-md-6"><input type="text" class="form-control input-sm" ng-model="currentArea.description" placeholder="{{ 'DESCRIPTION' | translate }}"/></td>
                              <td class="col-md-2"><input type="number" class="form-control input-sm" ng-focus="setProbabilityForAreas()" ng-model="currentArea.probability" min="0" max="100" placeholder="{{ 'PROBABILITY' | translate }}"/></td>
                              <td class="col-md-2 text-center">
                                <button type="button" class="btn btn-default btn-sm" title="{{ 'DRAW' | translate }}" ng-click="drawArea()">
                                  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                  <span ng-show="currentArea.geodata">{{ 'REDRAW' | translate }}</span>
                                  <span ng-hide="currentArea.geodata">{{ 'DRAW' | translate }}</span>
                                </button>
                              </td>
                              <td class="col-md-2 text-center">
                                <button type="button" class="btn btn-primary btn-sm" ng-disabled="!currentArea.probability || !currentArea.description || !currentArea.geodata" title="{{ 'ADD' | translate }}" ng-click="saveArea()">
                                  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                  <span ng-hide="currentArea.id">{{ 'ADD' | translate }}</span>
                                  <span ng-show="currentArea.id">{{ 'SAVE' | translate }}</span>
                                </button>
                              </td>
                            </tr>
                            <tr ng-repeat="area in currentAreas | orderBy : '-probability'" ng-class="{'versions-panel__areas_edited': currentArea.id === area.id}">
                              <td>{{ area.description }}</td>
                              <td class="text-center">{{ area.probability }}</td>
                              <td class="text-center">
                                <button type="button" class="btn btn-default btn-xs" title="{{ 'SHOW' | translate }}" ng-click="showArea(area)">
                                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                </button>
                              </td>
                              <td class="text-center">
                                <button type="button" class="btn btn-default btn-xs" title="{{ 'EDIT' | translate }}" ng-click="editArea(area)">
                                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" title="{{ 'DELETE' | translate }}" ng-click="deleteArea(area)">
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary" ng-disabled="!currentVersion.probability || !currentVersion.name" title="{{ 'SAVE' | translate }}" ng-click="saveVersion()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ 'SAVE' | translate }}
                  </button>
                  <button type="button" class="btn btn-default" title="{{ 'CANCEL' | translate }}" ng-click="cancelVersionEditing()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'CANCEL' | translate }}
                  </button>
                </div>
              </form>
            </div>
            <!-- Versions listings -->
            <div ng-repeat="version in versions | orderBy : '-probability'" class="routes__route-container" ng-hide="editing">
              <div class="container-fluid padding-5-on-sides">
                <div class="row no-gutter">
                  <div class="col-md-9">
                    <h4>{{ version.name }} ({{ 'PROBABILITY' | translate }}: {{ version.probability }}%)
                      <span ng-hide="versionsProbabilitySum === 100">
                        <a bootstrap-popover class="btn btn-xs btn-danger" heading="{{ 'INVALID_PROBABILITY_VALUE' | translate }}" content="{{ 'CHECK_PROBABILITIES_INVALID_CURRENT_NUMBER' | translate }} {{ versionsProbabilitySum }}">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        </a>
                      </span>
                    </h4>
                  </div>
                  <div class="col-md-3 text-right">
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'DISPLAY_SETTINGS' | translate }}" ng-click="editVersionDisplay(version)">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
					<button type="button" class="btn btn-default btn-xs" title="{{ 'EDIT' | translate }}" ng-click="editVersion(version)">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" title="{{ 'DELETE' | translate }}" ng-click="deleteVersion(version)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
                <div class="row no-gutter">
                  <div class="text-center" ng-hide="version.areas.length > 0">
                    <p>{{ 'AREAS_ARE_NOT_CREATED_YET' | translate }}</p>
                  </div>
                  <table ng-show="version.areas.length > 0" class="table table-striped table-hover table-condensed table-bordered no-margin">
                    <thead>
                      <tr>
                        <th class="col-md-8">{{ 'DESCRIPTION' | translate }}</th>
                        <th class="col-md-2 text-center">{{ 'PROBABILITY' | translate }}
                          <span ng-hide="areasProbabilitySums[version.id] === 100">
                            <a bootstrap-popover class="btn btn-xs btn-danger" heading="{{ 'INVALID_PROBABILITY_VALUE' | translate }}" content="{{ 'CHECK_PROBABILITIES_INVALID_CURRENT_NUMBER' | translate }} {{ areasProbabilitySums[version.id] }}">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            </a>
                          </span>
                        </th>
                        <th class="col-md-2"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="area in version.areas | orderBy : '-probability'" ng-class="{'versions-tab__version_active': area.active}">
                        <td>{{ area.description }}</td>
                        <td class="text-center">{{ area.probability }}</td>
                        <td class="text-center">
                          <button type="button" class="btn btn-default btn-xs" title="{{ 'SHOW' | translate }}" ng-click="showArea(area)">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                          </button>
						  <button type="button" class="btn btn-default btn-xs" title="{{ 'EDIT_FEATURE_ON_THE_MAP' | translate }}" ng-click="editAreaFeature(area)">
						    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
						  </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>